*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;900&family=Raleway&display=swap');
body{
    height: 100vh;
}
.navbar{
    background-color: bisque;
    width: 80px;
    height: 100vh;
    border-radius: 100% 100% 100% 100%;
    
}

.nav{
    background-color: #416e39;;
    width: 80px;
    height: 100vh;
    display: flex;
    border-radius: 0% 10% 10% 0% / 0% 10% 10% 0%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    box-shadow: 3.5px 0 0 3px #244a1d;
    justify-content: space-between;
}


.nav ul{
    width: 85%;
    display: flex;
    flex-direction: column;
    
}
.nav ul li{
    position: relative;
    color: aliceblue;
    width: 100%;
    height: 50px;
    border: 0px solid;
    background-color: transparent;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-top: 30px;
    justify-content: center;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

    
 


}

.nav ul li h1{
    font-size: 25px;
}

.btn-navbar i{
    position: relative;
    width: 50px;
    height: 50px;
    border: 0px solid;
    font-size: 25px;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;



}

.nav h1{
   font-size: 30px;
   position: relative;
   
   
}




#menu i{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout li{
    position: relative;
    color: aliceblue;
    width: 100%;
    height: 50px;
    border: 0px solid;
    background-color: transparent;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-top: 30px;
    justify-content: center;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.logout{
   
}

.logout li i {
    position: relative;
    width: 50px;
    height: 50px;
    border: 0px solid;
    font-size: 25px;
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
}


